<section id="portofolio" class="portofolio">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          
            <div class="portofolio-title">
            <h2>ARTICLE</h2>
            <p>Kabar Pasar Hari ini</p>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="row">
       
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="portofolio-card">
            <a href="">
              <div class="portofolio-img">
                <img
                  src="../../../assets/ocbc.png"
                  class="img-fluid"
                  alt="Work 1"
                />
              </div>
            </a>
           
            <div class="portofolio-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2>Ssstt… Ada Lo Kheng Hong di Bank OCBC (NISP)?</h2>
                  <a href="https://investor.id/market-and-corporate/304438/ssstt-ada-lo-kheng-hong-di-bank-ocbc-nisp" target="_blank"><button type="button" class="btn btn-primary ">Baca..</button></a>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="portofolio-card">
            <a href="">
              <div class="portofolio-img">
                <img
                  src="../../../assets/b.png"
                  class="img-fluid"
                  alt="Work 1"
                />
              </div>
            </a>
            
            <div class="portofolio-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2>BI Rate Sudah Naik, Bagaimana Suku Bunga Deposito dan Kredit di BCA (BBCA)?</h2>
                  <a href="https://finansial.bisnis.com/read/20220830/90/1572387/bi-rate-sudah-naik-bagaimana-suku-bunga-deposito-dan-kredit-di-bca-bbca" target="_blank"><button type="button" class="btn btn-primary ">Baca..</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="portofolio-card">
            <a href="">
              <div class="portofolio-img">
                <img
                  src="../../../assets/1.png"
                  class="img-fluid"
                  alt="Work 1"
                />
              </div>
            </a>
           
            <div class="portofolio-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2>GoTo Beli Exchange Crypto Senilai $8,4 Juta!</h2>
                  <a href="https://coinvestasi.com/berita/goto-beli-exchange-crypto-senilai-84-juta" target="_blank"><button type="button" class="btn btn-primary ">Baca..</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  