<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Tentang Kami</h2>
        <p><em>" Profit itu di withdraw, bukan di screenshoot "</em></p>
        <p>Kami merupakan lembaga pelatihan <em>trader</em> yang sudah sangat berpengalaman di dunia saham,crypto,forex selama lebih dari 3 bulan, lembaga ini sudah berdiri sejak tahun 2022</p>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-people"></i>
                </span>
              </div>
              <div class="service-content">
                <h2>EXCLUSIVE GROUP MEMBER</h2>
                <p>
                  Dapatkan berita dan rekomendasi crypto, forex dan saham yang sudah dipastikan memberikan anda 100% cuan ,berita yang selalu <em>terupdate and realtime</em> tentang kondisi pasar saat ini. segera bergabunglah dengan komunitas kami! ORA UMUM!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-bar-chart-fill"></i>
                </span>
              </div>
              <div class="service-content ">
                <h2><em>SUPER TRADINGNEWS APP</em></h2>
                <p>
                  Segera download aplikasi kami, fitur-fitur yang canggih siap <em>mengsupply</em> cuan anda tiap hari, dimana fitur-fitur ini sudah digunakan oleh ratusan jutawan di dunia!  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-incognito"></i>
                </span>
              </div>
              <div class="service-content">
                <h2><em>COACHING AND MENTORING</em></h2>
                <p>
                  Segera ikuti program pelatihan kami yang mana para <em>coach</em> kami yang sangat berpengalaman dibidangnya</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
